.video_upload_wrapper {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    max-width: 1446px;
    margin: 0 auto;
    font-family: 'Roboto';
    flex-direction: column;
    gap: 8px;
}

.translation_tab_wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
}

.new_translation_tab,
.past_translations_tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.new_translation_tab p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--mono-black, #252525);
    /* p */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
}

.new_translation_tab div {
    height: 5px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--primary-pink, #E85B81);
}

.past_translations_tab p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--mono-gray-3, #B5B5B5);
    /* p */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
}

.past_translations_tab div {
    height: 5px;
    align-self: stretch;
    background: var(--primary-pink, #E85B81);
    opacity: 0;
}

.video_upload_title {
    margin-top: 8px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    color: var(--mono-black, #252525);
    text-align: center;
    /* h1 */
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.trial_wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 23px;
    padding: 19px 42px 116px 53px;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(112, 72, 232, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
}

.trial_wrapper h4 {
    width: 420px;
    height: 23px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    color: var(--mono-black, #252525);
    text-align: center;
    /* h4 */
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.trial_wrapper h5 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    color: var(--mono-black, #252525);
    text-align: right;
    /* h5 */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    /* 116.667% */
    letter-spacing: 0.96px;
    text-transform: uppercase;
}

.trial_wrapper progress {
    margin-top: 6px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 315px;
    height: 8px;
    flex-shrink: 0;
    background: var(--mono-gray-2, #E1E1E1);
}

.trial_wrapper progress::-webkit-progress-bar {
    border-radius: 4px;
}

.trial_wrapper progress::-webkit-progress-value {
    background-color: #5E48E8;
    border-radius: 4px;
}

.trial_wrapper .progress-bar {
    margin-top: 6px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 315px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--mono-gray-2, #E1E1E1);
}

.trial_buttons_wrapper {
    display: flex;
    gap: 6px;
    margin-top: 4px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.trial_buttons_wrapper .get_free_credit_button {
    display: flex;
    width: 67px;
    height: 18px;
    padding: 15px 60px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--primary-purple, #5E48E8);
}

.get_free_credit_button span {
    width: 116px;
    height: 18px;
    color: var(--primary-purple, #5E48E8);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 112.5% */
}

.trial_buttons_wrapper .upgrade_to_unlimited {
    display: flex;
    width: 67px;
    height: 18px;
    padding: 15px 60px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--primary-purple, #5E48E8);
}

.upgrade_to_unlimited span {
    width: 151px;
    height: 18px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 112.5% */
}

.upload_wrapper {
    margin-top: 22px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 515px;
    height: 573px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    flex-direction: column;

    /* Card Drop Shadow */
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.upload_wrapper h3 {
    margin-top: 26px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 293px;
    color: var(--mono-black, #252525);
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#limitation_msg {
    margin-top: 11px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 431px;
    color: var(--mono-black, #252525);
    /* p */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
}

.choose_file_wrapper {
    margin-top: 89px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 453px;
    height: 225px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px dashed #E85B81;
    background: #FFF;
    flex-direction: column;
    display: flex;
}

.choose_file_wrapper img {
    margin-top: 11px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 253px;
    height: 122px;
    flex-shrink: 0;
}

.choose_file_wrapper p {
    margin-top: 3px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    color: var(--mono-gray-3, #B5B5B5);
    /* p */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
}

.upload_button_lable {
    display: flex;
    justify-content: center;
    width: 201px;
    height: 48px;
    margin-top: 3px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    align-items: center;
    border-radius: 8px;
    background: var(--primary-pink, #E85B81);
}

.upload_button_lable img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-top: auto;
    margin-right: 5px;
    margin-bottom: auto;
    margin-left: 34px;
}

.upload_button_lable span {
    margin: auto 0;
    width: 109px;
    height: 18px;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 112.5% */
}

.active {
    border: 0.2em dashed #E85B81;
  }