.password-reset-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
}
.password-reset-item {
  position: absolute;
  top: 787px;
  left: 638px;
  border-radius: var(--br-9xs);
  width: 339.5px;
  height: 36.5px;
}
.password-reset-child1 {
  position: absolute;
  height: 1.78%;
  width: 1.06%;
  top: -7.03%;
  right: 75.66%;
  bottom: 105.24%;
  left: 23.28%;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button-text14 {

  position: relative;
  line-height: 18px;
  font-weight: 500;
  border:none;
  background-color:var(--primary-pink);
  color:white;
}
.button4 {
  position: absolute;
  top: 295px;
  left: 147px;
  border-radius: var(--br-5xs);
  background-color: var(--primary-pink);
  width: 187px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-41xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.reset-password {
  position: absolute;
  top: 38px;
  left: 33px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  color: var(--mono-black);
  text-align: left;
  width: 438px;
  height: 43px;
}
.iconcross1 {
  position: absolute;
  top: calc(50% - 181.5px);
  right: 20px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.card6 {
  position: absolute;
  top: calc(50% - 243.5px);
  left: calc(50% - 249px);
  border-radius: var(--br-base);
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
  border: 2px solid #c12f5d;
  box-sizing: border-box;
  width: 515px;
  height: 391px;
  text-align: center;
  font-size: var(--p-size);
  color: var(--white);
}
.rectangle-icon2 {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  align-items: center;
}
.icondropdown1 {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  display: none;
}
.no-vacancies {
  position: absolute;
  top: calc(50% - 11px);
  left: 24px;
}
.select4 {
  position: absolute;
  top: -25px;
  left: 0;
  font-size: var(--p-size);
  line-height: 20px;
  color: var(--mono-gray-3);
}
.dropdown2,
.dropdown3 {
  position: absolute;
  top: 351px;
  left: calc(50% - 200px);
  width: 420px;
  height: 56px;
}
.dropdown3 {
  top: 443px;
}
.password-reset {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 947px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h4-size);
  color: var(--mono-gray-4);
  font-family: var(--p);
}


@media only screen and (max-width:480px){
.card6{
  left:15px;
width:380px;
}
.select4{
  left:20px;
}
.rectangle-icon2{
  width:80%;
  left:20px;
}
.button4{
  left:calc(25%);
}
}
@media only screen and (max-width:400px){
.card6{
  left:15px;
width:330px;
}
.select4{
  left:50px;
}
.rectangle-icon2{
  width:65%;
  left:50px;
}
.button4{
  left:80px;
}
}