.card-child4 {
  position: absolute;
  top: 89px;
  left: 31px;
  border-radius: var(--br-8xs);
  background-color: var(--white);
  border: 1px dashed var(--primary-pink);
  box-sizing: border-box;
  width: 453px;
  height: 225px;
}
.update-property19 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  width:116px;
  height:18px;
}
.update-property18 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  width:151px;
  height:18px;
}
.update-property1 {
  position: relative;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  width:109px;
  height:18px;
  letter-spacing: 0.08em;
  left:15px;
}
.button17 {
  position: absolute;
  top: 250px;
  left: 157px;
  border-radius: var(--br-5xs);
  background-color: var(--primary-pink);
  width: 201px;
  height: 48px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-41xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.drop-files-here {
  position: absolute;
  top: 227px;
  left: 197px;
  line-height: 20px;
  color: var(--mono-gray-3);
}
.screenshot-2023-08-10-at-429 {
  position: absolute;
  top: 100px;
  left: 131px;
  width: 253px;
  height: 122px;
  object-fit: cover;
}
.card17 {
  position: absolute;
  top: 335px;
  left: calc(50% - 232px);
  border-radius: var(--br-base);
  background-color: var(--white);
  box-shadow: var(--card-drop-shadow);
  width: 515px;
  height: 573px;
  text-align: left;
  color: var(--white);
}
.free-translations-remaining2 {
  position: absolute;
  top: 19px;
  left: calc(50% - 204.5px);
  display: inline-block;
  width: 420px;
  height: 23px;
}
.card18 {
  position: absolute;
  top: 155px;
  left: calc(50% - 232px);
  border-radius: var(--br-base);
  background: linear-gradient(
    180deg,
    rgba(112, 72, 232, 0.1),
    rgba(255, 255, 255, 0)
  );
  width: 515px;
  height: 158px;
  font-size: var(--h4-size);
}
.video-upload-signed-in-home-child,
.video-upload-signed-in-home-inner {
  position: absolute;
  top: 787px;
  left: 638px;
  border-radius: var(--br-9xs);
  width: 339.5px;
  height: 36.5px;
}
.video-upload-signed-in-home-inner {
  top: 203px;
  left: calc(50% - 148px);
  background-color: var(--mono-gray-2);
  width: 315px;
  height: 8px;
}
.upload-a-audio {
  margin: 0;
}
.upload-a-audio-container {
  position: absolute;
  top: 675px;
  left: calc(50% - 126px);
  font-size: var(--h3-size);
}
.once-the-translation {
  position: absolute;
  top: 752px;
  left: calc(50% - 185px);
  line-height: 20px;
  text-align: left;
  display: inline-block;
  width: 431px;
}
.iconshare2 {
  position: absolute;
  top: 10px;
  left:calc(50% - 80px);
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  /* display: none; */
}
.translate-your-audio1 {
  position: absolute;
  top: 81px;
  left: calc(50% - 338px);
  font-size: var(--h1-size);
  font-weight: 500;
}
.button18,
.button19 {
  position: absolute;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  width: 187px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-41xl);
  align-items: center;
  justify-content: flex-start;
}
.button18 {
  top: 248px;
  left: calc(50% + 11px);
  background-color: var(--primary-purple);
  color: var(--white);
}
.button19 {
  top: 249px;
  left: calc(50% - 182px);
  border: 1px solid var(--primary-purple);
  color: var(--primary-purple);
}
.tab-one3 {
  position: relative;
  line-height: 20px;
}
.underline17 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--primary-pink);
  height: 5px;
}
.tab15 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--mono-black);
}
.underline18 {
  align-self: stretch;
  position: relative;
  background-color: var(--primary-pink);
  height: 5px;
  opacity: 0;
}
.tab16 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}
.tab-bar3,
.tab16,
.tab17 {
  align-items: center;
  justify-content: flex-start;
}
.tab17 {
  display: none;
  flex-direction: column;
  gap: var(--gap-xs);
}
.tab-bar3 {
  position: absolute;
  top: 36px;
  left: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: var(--gap-41xl);
  text-align: left;
  color: var(--mono-gray-3);
}
.upgrade-get-unlimited1 {
  position: absolute;
  top: 231px;
  left: 655px;
  font-size: var(--h5-size);
  letter-spacing: 0.08em;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
}
.details-button-icon2 {
  top: 27px;
  left: calc(50% + 692px);
  border-radius: var(--br-5xs);
  width: 46px;
  height: 48px;
}
.badge2,
.details-button-icon2,
.iconupload {
  position: absolute;
  overflow: hidden;
}
.iconupload {
  top: 598px;
  left: 715px;
  width: 24px;
  height: 24px;
}
.badge2 {
  top: 36px;
  left: 355px;
  border-radius: var(--br-81xl);
  background-color: var(--dust-red-5);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  align-items: center;
  justify-content: center;
  font-size: var(--h5-size);
  color: var(--white);
  font-family: var(--footnote-system-monospace);
}
.video-upload-signed-in-home {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: center;
  font-size: var(--p-size);
  color: var(--mono-black);
  font-family: var(--p);
}
@media only screen and (max-width:480px){
.translate-your-audio1{
  font-size:var(--h3-size);
  top:81px;
  left:calc(10%);
}
.once-the-translation{
  width:370px;
  text-align:center;
}
}