.settings {
  position: absolute;
  top: 114px;
  left: 160px;
  font-size: var(--h1-size);
  font-weight: 500;
}
.update-property {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.button6 {
  position: absolute;
  top: 40px;
  left: 116px;
  border-radius: var(--br-5xs);
  background-color: var(--primary-pink);
  display: flex;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-41xl);
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: var(--white);
}
.account,
.notifications {
  position: absolute;
  top: 195px;
  left: 160px;
  font-size: var(--h3-size);
}
.notifications {
  top: 579px;
  left: 159px;
}
.delete-account {
  position: absolute;
  top: 923px;
  left: 170px;
  line-height: 20px;
  color: var(--primary-pink);
}
.card9 {
  position: absolute;
  top: 231px;
  left: 159px;
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--mono-gray-2);
  box-sizing: border-box;
  width: 625px;
  height: 322px;
  overflow: hidden;
}
.circle2,
.frame2 {
  position: absolute;
  border-radius: var(--br-base);
}
.frame2 {
  top: calc(50% - 14px);
  left: 0;
  background-color: var(--primary-pink);
  border: 1px solid var(--primary-pink);
  box-sizing: border-box;
  width: 52px;
  height: 28px;
}
.circle2 {
  top: calc(50% - 12px);
  left: 26px;
  background-color: var(--white);
  width: 24px;
  height: 24px;
}
.on1,
.toggle3 {
  position: relative;
}
.toggle3 {
  width: 52px;
  height: 28px;
}
.on1 {
  line-height: 20px;
}
.toggle2 {
  position: absolute;
  top: 71px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.circle3,
.frame3 {
  position: absolute;
  border-radius: var(--br-base);
}
.frame3 {
  top: calc(50% - 14px);
  left: 0;
  background-color: var(--white);
  border: 1px solid var(--mono-gray-2);
  box-sizing: border-box;
  width: 52px;
  height: 28px;
}
.circle3 {
  top: calc(50% - 12px);
  left: 2px;
  background-color: var(--mono-gray-2);
  width: 24px;
  height: 24px;
}
.toggle4 {
  position: absolute;
  top: 27px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.card10,
.rectangle-icon9 {
  position: absolute;
  overflow: hidden;
}
.card10 {
  top: 623px;
  left: 159px;
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--mono-gray-2);
  box-sizing: border-box;
  width: 625px;
  height: 125px;
  color: var(--mono-gray-4);
}
.rectangle-icon9 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  max-width: 100%;
  max-height: 100%;
}
.input-text1 {
  position: absolute;
  top: calc(50% - 11px);
  left: 24px;
}
.label1 {
  top: -25px;
  left: 0;
  font-size: var(--p-size);
  line-height: 20px;
  color: var(--mono-gray-3);
}
.input,
.label1,
.label2 {
  position: absolute;
}
.input {
  top: 270px;
  left: 173px;
  width: 350px;
  height: 56px;
  font-size: var(--h4-size);
  color: var(--mono-gray-2);
}
.label2 {
  top: -25px;
  left: 0;
  font-size: var(--p-size);
  line-height: 20px;
  color: var(--mono-black);
}
.input1 {
  top: 369px;
  width: 350px;
  height: 56px;
  font-size: var(--h4-size);
  color: var(--mono-gray-2);
}
.input1,
.input2,
.name {
  position: absolute;
  left: 173px;
}
.input2 {
  top: 475px;
  width: 350px;
  height: 56px;
  font-size: var(--h4-size);
  color: var(--mono-gray-2);
}
.name {
  top: 245px;
  line-height: 20px;
}
.button7,
.button8,
.button9 {
  position: absolute;
  top: 274px;
  left: 632px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--primary-pink);
  box-sizing: border-box;
  width: 130px;
  height: 44px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-41xl);
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: var(--mono-gray-4);
}
.button8,
.button9 {
  top: 473px;
}
.button9 {
  top: 367px;
}
.settings-free-user {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--p-size);
  color: var(--mono-black);
  font-family: var(--p);
}
